.review-bg{
    background-color: rgb(8, 8, 29);
}
.review{
    height: 400px;
    width: 300px;
    overflow-y: hidden;
    
}
.align-image{
    margin-left: 55px;
    margin-top: 20px;
}
.review-image{
    height: 150px;
    width: 180px;
    
    border-radius: 50%;
    
}