.review-bg{
    background-color: rgb(8, 8, 29);
}
.review{
    height: 400px;
    overflow-y: auto;
    
}
.align-image{
    margin-left: 70px;
    margin-top: 20px;
}
.review-image{
    height: 150px;
    width: 200px;
    
    border-radius: 50%;
    
}