.banner-align{
    height: 500px !important;
}
.carousel-caption{
    bottom: 150px;
}
.carousel-caption h2{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900px;
}
.carousel-caption p{
    font-size: 18px;
    
}
.carousel-caption a{
    text-decoration: none;
    text-transform: uppercase;
    background: darkorange;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    border-radius: 50px;
}

.align{
    margin-left: 125px;
}
.product-btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 17px;
    font-size: 15px;
    background-color: #00a3c8;
    border: none;
    color: white;
    padding:10px 39px;
}

.productCard:hover img{
    overflow: hidden;
    transform: scale(1.2);
    transition: transform 1s;
}
.productCard:hover{
    box-shadow: 1px 1px 7px 1px blue;
    transition: all 0.4s;
}
.productCard{
    border: none;
}
.card-title{
    color: #ff7f47
}